/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.header .logo h1 {
  font-size: 1.5rem;
  color: #333;
}

.header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  height: 21px;
}

.header nav ul li {
  margin: 0 15px;
}

/* Quitar subrayado y cambiar color de los enlaces */
.header nav ul li a {
  text-decoration: none; 
  color: #000000;
  padding: 15px 20px;
}

/* Estilos para la sección de iconos */
.icons {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre los elementos */
}

/* Estilos para el ícono de carrito */
.icons .fa-shopping-cart {
  font-size: 24px;
  color: black;
  cursor: pointer; /* Cambia el cursor cuando pasas sobre el ícono */
  transition: transform 0.3s ease, color 0.3s ease;
}

.icons .fa-shopping-cart:hover {
  transform: scale(1.1); /* Aumenta el tamaño ligeramente al pasar el cursor */
  color: #ff6347; /* Cambia el color al pasar el cursor (tomato) */
}

.contact-btn {
  background-color: #ffeb3b;
  border: none;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  padding: 15px 20px;
}
